#navbar {
  ol {
    color: gray;
    font-weight: 400;
    height: 100%;

    li {
      height: inherit;
    }

    a {
      &.active {
        color: white;
        border-bottom: 2px solid white;
      }
    }
  }

  #logo-button {
    background: linear-gradient(
      90deg,
      rgba(114, 9, 183, 1) 0%,
      rgba(247, 37, 133, 1) 100%
    );
  }
}
